<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MyBlog.Repository.BoardRepository">

	<resultMap type="com.MyBlog.Dto.UserDto" id="UserDto">
		<!-- <result property="memberName" column="member_name"/> -->
	</resultMap>


	<insert id="saveTheWriting" parameterType="com.MyBlog.Dto.Board">
		insert into board(title, content, nickName, category)
		values(#{title},#{content}, #{nickName}, #{category})
	</insert>

	<select id="getWritingList" resultType="com.MyBlog.Dto.Board">
	select * from board 
     <where>
	    <if test="query !=null and query != ''">
	         ${title} like '%${query}%'
	    </if>
	        and pub = #{pub}
	    </where>
    order by date desc
    limit #{offset}, #{size}
  </select>
  

</mapper>