<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MyBlog.Repository.LeftRepository">

	
	<insert id="saveCategoryName" parameterType="String">
		insert into
		category(nickName, categoryName)
		values(#{nickName},#{categoryName})
	</insert>
	
	<select id="getCategoryList" parameterType="String" resultType="com.MyBlog.Dto.Category">
		SELECT * FROM category where nickName=#{nickName}
	</select>
	
</mapper>